In [4]:
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [5]:
temp1 = 77
celsius1 = (temp1 - 32) * 5 / 9
print(celsius1)

temp2 = 95
celsius2 = (temp2 - 32) * 5 / 9
print(celsius2)

temp3 = 50
celsius3 = (temp3 - 32) * 5 / 9
print(celsius3)

25.0
35.0
10.0

In [6]:
def fahrenheit_to_celsius(fahrenheit):
  return (fahrenheit - 32) * 5 / 9

print(fahrenheit_to_celsius(77))
print(fahrenheit_to_celsius(95))
print(fahrenheit_to_celsius(50))

25.0
35.0
10.0

In [7]:
def get_greeting():
  return "Hello from a function"

message = get_greeting()
print(message)

Hello from a function

In [1]:
def get_greeting():
  return "Hello from a function"

print(get_greeting())

Hello from a function

In [2]:
def my_function():
  pass

In [3]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [4]:
def my_function(name): # name is a parameter
  print("Hello", name)

my_function("Emil") # "Emil" is an argument

Hello Emil

In [5]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [6]:
def my_function(name = "friend"):
  print("Hello", name)

my_function("Emil")
my_function("Tobias")
my_function()
my_function("Linus")

Hello Emil
Hello Tobias
Hello friend
Hello Linus

In [7]:
def my_function(country = "Norway"):
  print("I am from", country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [8]:
def my_function(animal, name):
  print("I have a", animal)
  print("My", animal + "'s name is", name)

my_function(animal = "dog", name = "Buddy")

I have a dog
My dog's name is Buddy

In [9]:
def my_function(animal, name):
  print("I have a", animal)
  print("My", animal + "'s name is", name)

my_function(name = "Buddy", animal = "dog")

I have a dog
My dog's name is Buddy

In [10]:
def my_function(animal, name):
  print("I have a", animal)
  print("My", animal + "'s name is", name)

my_function("dog", "Buddy")

I have a dog
My dog's name is Buddy

In [11]:
def my_function(animal, name, age):
  print("I have a", age, "year old", animal, "named", name)

my_function("dog", name = "Buddy", age = 5)

I have a 5 year old dog named Buddy

In [12]:
def my_function(fruits):
  for fruit in fruits:
    print(fruit)

my_fruits = ["apple", "banana", "cherry"]
my_function(my_fruits)

apple
banana
cherry

In [14]:
def my_function(person):
  print("Name:", person["name"])
  print("Age:", person["age"])

my_person = {"name": "Akniet", "age": 18}
my_function(my_person)

Name: Akniet
Age: 18

In [15]:
def my_function(x, y):
  return x + y

result = my_function(5, 3)
print(result)

8

In [16]:
def my_function():
  return ["apple", "banana", "cherry"]

fruits = my_function()
print(fruits[0])
print(fruits[1])
print(fruits[2])

apple
banana
cherry

In [17]:
def my_function():
  return (10, 20)

x, y = my_function()
print("x:", x)
print("y:", y)

x: 10
y: 20

In [20]:
def my_function(name, /): #ONLY positional arguments
  print("Hello", name)

my_function("Almas")

Hello Almas

In [19]:
def my_function(name):
  print("Hello", name)

my_function(name = "Almas")

Hello Almas

In [22]:
def my_function(*, name): #only keyword arguments
  print("Hello", name)

my_function(name = "Almas")

Hello Almas

In [24]:
def my_function(a, b, /, *, c, d):
  return a + b + c + d

result = my_function(5, 10, c = 15, d = 20)
print(result)
#Arguments before / are positional-only, and arguments after * are keyword-only

50

In [37]:
def complex(real, imag):
    print(f"The reak part is {real}, and the imag part is {imag}")
nums=(1,2)

complex(*nums)

The reak part is 1, and the imag part is 2

In [42]:
def kaspi(money="2000", state="need to pay servive fee", 
action="convert money", mood="upset"):
    print(f"--I have only {money} tenge left, but i {state}")
    print(f"since i {state}, i will lose {money} tenge")
    print(f"but luckly, i do have {money} tenge in cash")
    print(f"so, i need to {action} and im {mood}")
kaspi("3000", action="borrow money")

--I have only 3000 tenge left, but i need to pay servive fee
since i need to pay servive fee, i will lose 3000 tenge
but luckly, i do have 3000 tenge in cash
so, i need to borrow money and im upset

In [43]:
def ma(n):
    return lambda x: x + n

f= ma(42) 
print(f(0))

42

In [47]:
def hello(name):
    return f"hello {name}"
say = hello
print(say("YU"))
del hello
#hello("Mi")
say("Mi")

hello YU

'hello Mi'

In [48]:
def func():
    func.a=10
print(func.__dict__)

{}

In [51]:
def hello(name):
    return f"Hello {name}"
lst = [hello, str.lower, str.upper]
#print(lst)
for i in lst:
    print(i("yu"))

Hello yu
yu
YU

In [52]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [53]:
def my_function(*numbers):
  total = 0
  for num in numbers:
    total += num
  return total

print(my_function(1, 2, 3))
print(my_function(10, 20, 30, 40))
print(my_function(5))

6
100
5

In [54]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [55]:
def my_function(username, **details):
  print("Username:", username)
  print("Additional details:")
  for key, value in details.items():
    print(" ", key + ":", value)

my_function("emil123", age = 25, city = "Oslo", hobby = "coding")

Username: emil123
Additional details:
  age: 25
  city: Oslo
  hobby: coding

In [56]:
def my_function(a, b, c):
  return a + b + c

numbers = [1, 2, 3]
result = my_function(*numbers) # Same as: my_function(1, 2, 3)
print(result)

6

In [57]:
def myfunc():
  x = 300
  print(x)

myfunc()

300

In [58]:
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

In [59]:
def myfunc():
  global x
  x = 300

myfunc()

print(x)

300

In [60]:
x = 300

def myfunc():
  global x
  x = 200

myfunc()

print(x)

200

In [61]:
x = "global"

def outer():
  x = "enclosing"
  def inner():
    x = "local"
    print("Inner:", x)
  inner()
  print("Outer:", x)

outer()
print("Global:", x)

Inner: local
Outer: enclosing
Global: global

In [62]:
def changecase(func):
  def myinner():
    return func().upper()
  return myinner

@changecase
def myfunction():
  return "Hello Sally"

print(myfunction())

HELLO SALLY

In [63]:
def changecase(func):
  def myinner():
    return func().upper()
  return myinner

@changecase
def myfunction():
  return "Hello Sally"

@changecase
def otherfunction():
  return "I am speed!"

print(myfunction())
print(otherfunction())

HELLO SALLY
I AM SPEED!

In [64]:
def changecase(n):
  def changecase(func):
    def myinner():
      if n == 1:
        a = func().lower()
      else:
        a = func().upper()
      return a
    return myinner
  return changecase

@changecase(1)
def myfunction():
  return "Hello Linus"

print(myfunction())

hello linus

In [65]:
def changecase(func):
  def myinner():
    return func().upper()
  return myinner

@changecase
def myfunction():
  return "Have a great day!"

print(myfunction.__name__)

myinner

In [66]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [67]:
def myfunc(n):
  return lambda a : a * n

In [68]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [69]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [70]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
odd_numbers = list(filter(lambda x: x % 2 != 0, numbers))
print(odd_numbers)

[1, 3, 5, 7]

In [71]:
words = ["apple", "pie", "banana", "cherry"]
sorted_words = sorted(words, key=lambda x: len(x))
print(sorted_words)

['pie', 'apple', 'banana', 'cherry']

In [72]:
def factorial(n):
  # Base case
  if n == 0 or n == 1:
    return 1
  # Recursive case
  else:
    return n * factorial(n - 1)

print(factorial(5))

120

In [73]:
def find_max(numbers):
  if len(numbers) == 1:
    return numbers[0]
  else:
    max_of_rest = find_max(numbers[1:])
    return numbers[0] if numbers[0] > max_of_rest else max_of_rest

my_list = [3, 7, 2, 9, 1]
print(find_max(my_list))

9

In [74]:
import sys
sys.setrecursionlimit(2000)
print(sys.getrecursionlimit())

2000

In [75]:
def my_generator():
  yield 1
  yield 2
  yield 3

for value in my_generator():
  print(value)

1
2
3

In [76]:
def count_up_to(n):
  count = 1
  while count <= n:
    yield count
    count += 1

for num in count_up_to(5):
  print(num)

1
2
3
4
5

In [77]:
# Calculate sum of squares without creating a list
total = sum(x * x for x in range(10))
print(total)

285

In [78]:
def fibonacci():
  a, b = 0, 1
  while True:
    yield a
    a, b = b, a + b

# Get first 100 Fibonacci numbers
gen = fibonacci()
for _ in range(100):
  print(next(gen))

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026

In [79]:
def echo_generator():
  while True:
    received = yield
    print("Received:", received)

gen = echo_generator()
next(gen) # Prime the generator
gen.send("Hello")
gen.send("World")

Received: Hello
Received: World

In [80]:
def my_gen():
  try:
    yield 1
    yield 2
    yield 3
  finally:
    print("Generator closed")

gen = my_gen()
print(next(gen))
gen.close()

1
Generator closed

In [81]:
# 1. Function greet
def greet(name):
    print("Hello, " + name)
# Call greet
greet("Akniet")
# 2. Function add
def add(a, b):
    return a + b
# Print result of add(3, 5)
print(add(3, 5))
# 3. Function describe
def describe(*args):
    for item in args:
        print(item)
# Call describe
describe("red", "green", "blue")

Hello, Akniet
8
red
green
blue